*.exe
*.out
# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
**/*.iml
*.iml
*.iws
out/production/

# Mac
.DS_Store

# Maven
target/
release/

# VIM
*.swp
*.swo

# Python
*.py[cod]

*~
*.class
